[mysqld]
# Identifiant unique du serveur MySQL (doit être différent sur le maître et l'esclave)
server-id=1

# Activation du journal binaire pour la réplication
log-bin=mysql-bin
log-slave-updates=1

# Assure la cohérence GTID lors de la réplication
enforce-gtid-consistency=1

# Format de journal binaire
binlog-format=row

# Nombre de jours avant que les journaux ne soient expirés
expire_logs_days=7

# Taille maximale des fichiers journaux binaires
max_binlog_size=100M
